# Project exclude paths
/homework/homework1/homework1-1/task1_1.js
/homework/homework1/homework1-2/task1_2.js
/homework/homework1/homework1-3/task1_3.js
/homework/homework1/homework1-4/task1_4.js
/homework/homework2/homework2-1/task2_1.js
/homework/homework2/homework2-2/task2_2.js
/homework/homework2/homework2-3/task2_3.js
/homework/homework2/homework2-4/task2-4.js
/homework/homework2/homework2-5/task2_5.js
/homework/homework2/homework2-6/task2_6.js
/homework/homework2/homework2-7/task2_7.js
/homework/homework2/homework2-8/task2_8.js
/homework/homework2/homework2-9/task2_9.js
/homework/homework2/homework2-10/task2_10.js
/homework/homework2/homework2-11/task2_11.js
/homework/homework2/homework2-12/task1_12.js
/homework/homework3/homework3-1/task3_1.js
/homework/homework3/homework3-2/task3_2.js
/homework/homework3/homework3-3/task3_3.js
/homework/homework3/homework3-4/task3_4.js
/homework/homework3/homework3-5/task3_5.js
/homework/homework3/homework3-6/task3_6.js
/lesson/lesson1/lesson1-3/tsconfig.js
/lesson/lesson1/lesson1-4/type.js
/lesson/lesson1/lesson1-5/types.js
/lesson/lesson1/lesson1-6/type-metods.js
/lesson/lesson1/lesson1-7/interfase-class.js